# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Database files
*.sqlite
*.sqlite3
*.db
*.db3
*.sql
*.bak

# OS-specific
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build output
dist/
build/

# Coverage reports
coverage/

# Temporary files
tmp/
temp/

# Debug output
debug.log
